@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,600&display=swap");

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	font-family: "Montserrat", sans-serif;
  }

.grid {
	display: grid;
	margin-bottom: 100px;
	margin-top: 100px;
	justify-content: space-evenly;
	gap: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	align-items: center;
}

.grid-item {
	background-color: #051361;
	border-radius: 0.4rem;
	overflow: hidden;
	cursor: pointer;
	transition: 0.5s;
	max-width: 100%;
	margin: 2% auto 0 auto;
}

.card {
	display: flex;
	flex-direction: column;
	max-height: 650px;
	max-width: 320px;
}

.card-img {
	display: block;
	width: auto;
	max-height: 50%;
	object-fit: scale-down;
}

.card-content {
	padding: 0.5rem;
	align-content: center;
}

.card-header {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	margin: auto;
	font-size: 2rem;
	font-weight: 500;
	color: #ffffff;
}

.card-text {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	font-weight: bold;
	font-size: .6rem;
	letter-spacing: 0.1rem;
	line-height: .7;
	color: #ffffff;
	margin-bottom: 2.5rem;
}

.card-btn {
	display: block;
	padding: 1.5rem;
	font-size: 1rem;
	text-align: center;
	color: #ffffff;
	background-color: #000000;
	border: none;
	border-radius: 0.4rem;
	transition: 0.2s;
	cursor: pointer;
	letter-spacing: 0.1rem;
	text-decoration: none;
}

.card-btn:hover,
.card-btn:active {
	background-color: #8d1606f6;
}

@media only screen and (max-width: 550px) {
	.grid-item {
		width: 75%;
		padding-bottom: 40px;
		margin-bottom: 10em;
	}
	.card-img {
		display: block;
		width: auto;
		height: 349px;
		margin-top: 2px;
		object-fit: scale-down;
	}
	.grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: 1rem;
	}
}
