html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	min-height: 100vh;
	padding: 0.5em 2.5em 1em;
}
.contact1 {
	max-width: 510px;
	min-width: 324px;
	margin: 50px auto 0px;
	background-color: rgb(42, 102, 214);
	border: 1px solid grey;
	border-bottom: 3px solid grey;
}
.row {
	width: 90%;
	margin: 0 0 1em 0;
	padding: 0 2.5em;
}
.header {
	padding: 1.5em 2.5em;
	border-bottom: 1px solid grey;
	background-color: rgb(64, 85, 209);
	color: white;
}
.pull-right {
	float: right;
}
h1 {
	display: inline-block;
	font-weight: 100;
	font-size: 22px;
	border-bottom: 1px solid grey;
}
h3 {
	font-size: 16px;
}
form {
	max-width: 100%;
	display: block;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
li {
	margin: 0 0 0.25em 0;
	clear: both;
	display: inline-block;
	width: 100%;
}
p {
	margin: 0;
	padding: 0;
	float: left;
}
.right {
	float: right;
}
.req {
	color: red;
}
label {
	display: block;
	margin: 0 0 0.5em 0;
	color: rgb(255, 255, 255);
	font-size: 16px;
}
input {
	margin: 0 0 0.5em 0;
	border: 1px solid grey;
	padding: 6px 10px;
	color: grey;
	font-size: 16px;
}
textarea {
	border: 1px solid grey;
	padding: 6px 10px;
	width: 80%;
	color: grey;
}
small {
	color: blue;
	margin: 0 0 0 0.5em;
}
.btn-support {
	position: relative;
	background-color: #0f3de0;
	border: 3px solid #ffffff;
	color: #ffffff;
	font-size: 20px;
	padding: 14px 19px;
	cursor: pointer;
	margin: 20px;
	border-radius: 5px;
}
@media (max-width: 950px) {
	.row {
		width: 88%;
	}
	.pull-right {
		float: none; 
	  }
	  input {
		width: 50%; 
	  }
	  label {
		width: 100%;
		display: inline-block;
		clear: both;
	  }
	  li, p {
	   width: 100%; 
	  }
	  input.btn {
	   margin: 1.5em 0 0.5em; 
	  }
	  h1 {
	   font-size: 16px; 
	  }
	  h3 {
		font-size: 14px)
	  }
	  li small {
	   display: none; 
	  }

}
