@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,600&display=swap");

html {
  box-sizing: border-box;
}
body {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
  background-color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

.title,
.subheading {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
}

.title {
  font-size: 30px;
  font-weight: 800;
}

.subheading {
  margin-top: 0;
  font-size: 30px;
  font-weight: 800;
}

.button {
  all: unset;
  cursor: pointer;
  display: inline-block;
  background: white;
  padding: 0.5em 1.75em;
  color: #000000b3;
  font-weight: 300;
  border-radius: 25px;
}

.login-form {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 50% minmax(500px, 1fr) 3em;
  gap: 30px;
}

.first {
  background-color: rgb(158, 29, 35);
  padding: 3rem;
  width: 350px;
  height: 360px;
  border-radius: 25px;
}

.second {
  background-color: rgb(18, 68, 148);
  padding: 3rem;
  width: 350px;
  height: 360px;
  border-radius: 25px;
}

.form {
  margin: 1.5em 0 0;
}

.form__label {
  display: flex;
}

.form__text {
  all: unset;
  display: block;
  margin: 0.25em 0 1em;
  background: rgb(255, 254, 254);
  width: 12em;
  max-height: 1em;
  padding: 0.6em;
  color: black;
}

.form__checkbox {
  margin-right: 0.5em;
}
@media (max-width: 650px) {
  .login-form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr, 1fr;
    margin-bottom: 250px;
    margin-top: 50px;
    align-self: center;
  }
}
