@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,600&display=swap");

html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	font-family: "Montserrat", sans-serif;
  }
.h1signup {
	text-align: center;
}
.title,
.subheading {
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1;
}

.title {
	margin-top: 0;
	font-size: 26px;
	font-weight: 300;
}

.subheading {
	margin-top: 0;
	font-size: 20px;
	font-weight: 300;
}
.agreement,
.remember {
	font-size: 14px;
}

#btn-signup,
#btn-login {
	all: unset;
	cursor: pointer;
	display: inline-block;
	background: #ffffff;
	padding: 0.3em 1.5em;
	color: #000000;
	font-weight: 300;
	border-radius: 18px;
	font-size: 16px;
}

.login-form {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 800px;
	margin: auto;
}

.first {
	order: 2;
	background-color: #f11f1f;
	padding-top: 2rem;
	padding-left: 2rem;
	width: 350px;
	height: 340px;
	border-radius: 18px;
	margin: auto;
}

.second {
	order: 1;
	background-color: #102d94;
	padding-top: 2rem;
	padding-left: 2rem;
	width: 350px;
	height: 340px;
	border-radius: 18px;
	margin: auto;
}

.form {
	margin: 1rem;
}

.form label {
	font-size: 14px;
}

.form text {
	all: unset;
	display: block;
	margin: 0.25em 0 1em;
	background: #ffffff;
	width: 12em;
	max-height: 0.5em;
	padding: 0.6em;
	color: rgb(0, 0, 0);
}

.form checkbox {
	margin-left: 1.5em;
	margin-right: 0.5em;
}
@media (max-width: 650px) {
	.login-form {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		font-size: small;
	}
	.first,
	.second {
		margin-top: 12px;
		width: 270px;
		height: 300px;
		padding-top: 20px;
	}
	.h1signup {
		font-size: 10px;
	}
	.title {
		font-size: 20px;
	}
}
