@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,600&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: #000000;
  font-family: "Montserrat", sans-serif;
}
.btn-group button {
  background-color: #5b5c5f;
  border: 1px solid #332e2e;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 24px;
  cursor: pointer;
  margin-left: 25%;
  float: left;
  border-radius: 5px;
}

.btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.btn-group button:hover {
  background-color: #b11421;
}

@media (max-width: 650px) {
  .btn-group button {
    background-color: #5b5c5f;
    border: 1px solid #332e2e;
    color: #ffffff;
    padding: 14px 19px;
    cursor: pointer;
    margin-left: 17%;
    float: left;
    border-radius: 5px;
  }
}
