@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	background-color: #000000;
	font-family: "Montserrat", sans-serif;
	min-height: 100vh;
}
.h1slogan {
	color: #1d97e7;
	font-family: "Niconne", cursive;
	font-size: 46px;
	text-align: center;
}
.btn-login {
	position: relative;
	background-color: #f55a5a;
	border: 3px solid #5f5b5b;
	color: #ffffff;
	font-size: 20px;
	width: 125px;
	padding: 14px 19px;
	cursor: pointer;
	border-radius: 5px;
	margin-right: 20px;
	text-decoration: none;
}
.btn-producer {
	position: relative;
	background-color: #6381eb;
	border: 3px solid #5f5b5b;
	color: #ffffff;
	font-size: 20px;
	padding: 14px 19px;
	cursor: pointer;
	border-radius: 5px;
	text-decoration: none;
}
.topper {
	display: grid;
	place-items: center;
	margin-top: 20px;
}

.btn-group button:hover {
	background-color: #bb1e2b;
}

@media (max-width: 650px) {
	.btn-group button {
		margin-top: 35px;
		width: fit-content;
		height: fit-content;
		font-size: 13px;
	}
	.topper {
		margin-top: 20px;
	}
	.h1slogan {
		font-size: 22px;
	}
	h1 {
		margin-bottom: 50px;
	}
}
