@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,600&display=swap");

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "Montserrat", sans-serif;
}
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  color: white;
  font-size: 22px;
}
.logo {
  display: flex;
  margin-top: 15px;
  margin-left: 50px;
  margin-bottom: 55px;
  width: 130px;
  cursor: pointer;
}

.sitename {
  position:absolute;
  margin-top: 100px;
  margin-left: 50px;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 20px;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover,
.navbar-links.active {
  text-decoration: underline;
  text-transform: uppercase;
}

.toggle-button {
  margin: 20px;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 28px;
  height: 28px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}
footer{
  position: block;
  align-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(0, 0, 0);
  height: 100px;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: rgb(240, 101, 101);
}

.h2footer {
  text-align: center;
  font-size: 16px;
  color: #ffffff;
}
.co {
  text-align: center;
}

.gotop-btn{
  position: fixed;
  width: 50px;
  height: 50px;
  background: #74aef0;
  bottom: 80px;
  right: 2px;
  border-radius: 25px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: rgb(0, 0, 0);
  font-size: 22px;
}
.mobile-list {
  display: none;
}

/*----------------- separating the code -------*/

@media (max-width: 950px) {
  .navbar-links {
    font-size: 16px;
  }
  .logo {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
    width: 110px;
  }
  .sitename {
    font-size: 20px;
    margin-top: 90px;
  }
@media (max-width: 730px) {
  .logo {
    margin-left: 15px;
    margin-top: 10px;
    width: 120px;
  }
  .sitename {
    font-size: 20px;
    margin-top: 90px;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    font-size: 20px;
    line-height: 50px;
    text-decoration: underline;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
  @media only screen and (max-width:560px) {

  .mobile-list {
    display: block;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: white;
  }
  .mobile-list li {
    display: inline;
    align-self: auto;
    margin: auto;
  }
  .mobile-list li .icon {
    margin-right: 5px;
  }
}
}
}