* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

body {
	background-color: #000000;
}

.wrapper {
	position: relative;
	place-content: center;
	margin: auto;
	top: 50px;
	width: 550px;
	display: flex;
}

.wrapper .left {
	width: 50%;
	background: #0b428a;
	text-align: center;
	color: #fff;
}

.wrapper .left img {
	border-radius: 5px;
	padding: 10px;
}

.wrapper .left h2 {
	font-size: 20px;
	color: rgb(255, 255, 255);
}

.wrapper .right {
	width: 50%;
	text-align: center;
	color: #fff;
	background: rgb(236, 47, 47);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.wrapper .right h1 {
	font-size: 26px;
	color: rgb(255, 255, 255);
}
.wrapper .right h4 {
	font-size: 18px;
	color: rgb(255, 255, 255);
}
