* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}

body {
	background-color: #000000;
	min-height: 100vh;
}

.wrapper {
	position: relative;
	place-content: center;
	margin: auto;
	top: 50px;
	width: 550px;
	display: flex;
}

.wrapper .left {
	width: 50%;
	background: #0b428a;
	text-align: center;
	color: #fff;
}

.wrapper .left img {
	border-radius: 5px;
	padding: 10px;
}

.wrapper .right {
	width: 50%;
	text-align: center;
	color: #fff;
	background: rgb(236, 47, 47);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	letter-spacing: 0.1rem;
	line-height: 1.7;
}
.wrapper .right h1 {
	font-size: 26px;
	color: rgb(255, 255, 255);
}
.wrapper .right h4 {
	font-size: 18px;
	color: rgb(255, 255, 255);
}
.wrapper .right h2 {
	font-size: 26px;
	color: rgb(255, 255, 255);
}
.btn-sales {
	position: relative;
	background-color: #0f3de0;
	border: 3px solid #ffffff;
	color: #ffffff;
	font-size: 20px;
	padding: 14px 19px;
	cursor: pointer;
	margin: 20px;
	border-radius: 5px;
}
@media (max-width: 650px) {
	.wrapper {
		position: relative;
		place-content: center;
		margin: auto;
		top: 50px;
		width: 350px;
		display: flex;
	}
	.wrapper .left img {
		border-radius: 5px;
		padding: 0px;
		width: 180px;
	}
}
