body {
	background-color: #000000;
	font-family: "Montserrat", sans-serif;
	min-height: 100vh;
}
.search-box{
	max-width: 475px;
	height: 40px;
	border-radius: 23px;
	border-color: #e23939;
	border-width: 34px;
	font-size: 22px;
	font-family: "Montserrat";
	grid-column-start: 1;
	grid-row-start: 2;
	margin-left: 10%;
	padding-left: 15px;
	display: inline-block;

}
.search-txt{
border:15px;
background: none;
outline: none;
padding: 0;
color: white;
font-size: 16px;
line-height: 60px;
width: 240px;
}

.grid {
	display: grid;
	margin-bottom: 5px;
	margin-top: 5px;
	justify-content: space-evenly;
	gap: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;
}

.grid-item {
	background-color: #6c98b6;
	border-radius: 0.4rem;
	overflow: hidden;
	cursor: pointer;
	max-width: 180px;
	max-height: auto;
}

.card {
	display: flex;
	flex-direction: column;
	max-height: 300px;
	max-width: 300px;
}

.card-img {
	display: block;
	width: auto;
	height: 200px;
	margin-top: 1px;
	object-fit: scale-down;
}

.card-content {
	padding: 1rem;
}

.card-header {
	font-family: "Montserrat", sans-serif;
	text-align: center;
	font-size: 16px;
	color: #0d0d0d;
}

}

@media only screen and (max-width: 550px) {
	.grid-item {
	}
	.card-img {
	}
	.grid {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
		gap: 1rem;
	}
}
